Usando o Pandas para transformar um JSON em um Dataframe

In [1]:
#importando as bilbiotecas
import json
import pandas as pd 
from pandas import DataFrame
from pandas.io.json import json_normalize

In [2]:
# lemos o JSON em disco
arquivo = open("C://DatasetRestaurante//sample.txt","r").read()
conteudo = json.loads(arquivo)

# lendo o arquivo json com a opção orient = "records" para tentar ver quais as colunas que podem possuir arrays
# Esse é o cabeçado do Dataframe 'complemento', 'dets, 'emit', 'ide', 'infAdic','total','versaoDocumento'
# Observe que na coluna "dets" possui um colchete "[", isso significa que essa coluna possui um array
# Usei o head(2) para mostrar apena dois registros do dataframe
pd.read_json(arquivo,orient='records').head(2)

,complemento,dets,emit,ide,infAdic,total,versaoDocumento
0,{'valorTotal': 24.9},"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...","{'cnpj': '01.234.567/0001-89', 'enderEmit': {'...",{'dhEmi': {'$date': '2016-01-05T12:01:54.000Z'...,{'infCpl': 'Mesa 2'},"{'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...",1
1,{'valorTotal': 92.53},"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...","{'cnpj': '01.234.567/0001-89', 'enderEmit': {'...",{'dhEmi': {'$date': '2016-01-05T12:03:52.000Z'...,{'infCpl': 'Mesa 1'},"{'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...",1

In [3]:
#Normalizando o conteudo do JSON para ser transformado em um novo Dataframe
dataframe = json_normalize(conteudo, 'dets', ['complemento','emit', 'ide', 'infAdic','total','versaoDocumento'])

In [4]:
#Observe que nesse novo Dataframe apareceram as colunas "nItem" e "prod" que eram um array dentro da coluna "dets"
dataframe.head(2)

,nItem,prod,complemento,emit,ide,infAdic,total,versaoDocumento
0,1,"{'indTot': '1', 'qCom': 1.0, 'uCom': 'UN', 'vP...",{'valorTotal': 24.9},"{'cnpj': '01.234.567/0001-89', 'enderEmit': {'...",{'dhEmi': {'$date': '2016-01-05T12:01:54.000Z'...,{'infCpl': 'Mesa 2'},"{'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...",1
1,2,"{'indTot': '1', 'qCom': 0.312, 'uCom': 'KG', '...",{'valorTotal': 24.9},"{'cnpj': '01.234.567/0001-89', 'enderEmit': {'...",{'dhEmi': {'$date': '2016-01-05T12:01:54.000Z'...,{'infCpl': 'Mesa 2'},"{'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...",1

In [5]:
# Vamos transformar esse Dataframe novamente em JSON
novo_json = dataframe.to_json(orient='records')

In [6]:
# Vamos ler novamente esse JSON
novo_arquivo = json.loads(novo_json)

In [7]:
# E finalmente vamos normalizar esse JSON para deixar o Dataframe correto 
datafrane_final = json_normalize(novo_arquivo)

In [8]:
# Esse é o resultado final. Agora podemos trabalhar com todas as colunas.
datafrane_final.head(2)

,complemento.valorTotal,emit.cnpj,emit.enderEmit.fone,emit.enderEmit.uf,emit.enderEmit.xBairro,emit.enderEmit.xLgr,emit.enderEmit.xMun,emit.enderEmit.xPais,emit.xFant,ide.dhEmi.$date,...,total.icmsTot.vcofins,total.icmsTot.vicms,total.icmsTot.vicmsDeson,total.icmsTot.vii,total.icmsTot.vipi,total.icmsTot.vnf,total.icmsTot.vpis,total.icmsTot.vst,versaoDocumento,versaoDocumento.$numberLong
0,24.9,01.234.567/0001-89,1-650-933-4902,CA,,650 Castro St. unit 210,Mountain View,United States,TOTVS Labs,2016-01-05T12:01:54.000Z,...,0.0,0.0,0.0,0.0,0.0,24.9,0.0,0.0,1.0,NaN
1,24.9,01.234.567/0001-89,1-650-933-4902,CA,,650 Castro St. unit 210,Mountain View,United States,TOTVS Labs,2016-01-05T12:01:54.000Z,...,0.0,0.0,0.0,0.0,0.0,24.9,0.0,0.0,1.0,NaN